<%- include ("../layouts/adminheader") %>

<br>
<h2 class="page-title"> Add a Category</h2>
<a href="/admin/categories" class="btn btn-danger" > Back to All Categories  </a>
<br>
<br>

<form action="/admin/categories/add-category" method="POST">

    <div class="form-group">
        <label for="">Title</label>
        <input class="form-control" type="text" placeholder="Title" value="<%= titleVar %>" name='title'>
    </div>

    <button class="btn btn-info">Submit</button>
</form>

<%- include ("../layouts/adminfooter") %>

